  body, html, #root, .App, .Login {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4cm;
  }
  
  .bg-img {
      background-image: url("../../Images/BackGround.png");
      height: 100%; 
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  .form-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: white;
      margin: 20px;
      max-width: 300px;
      padding: 16px;
    }